{% extends "layout.html" %}

{% block content %}
    <div class="card">

        <h2>Most rated</h2>

        <table>
            <thead>
                <tr>
{#                    <th>Id</th>#}
                    <th>Title</th>
                    <th>Year</th>
                    <th>Runtime</th>
                    <th>Rating</th>
                    <th>Genres</th>
                    <th>Trailer</th>
                    <th>Homepage</th>
                </tr>
            </thead>
            <tbody>
                {% for el in most_rated %}
                    <tr>
                        <td>
                            <a href="/show/{{ el['id'] }}">
                                {{ el['title'] }}
                            </a>
                        </td>
                        <td>{{ el['year'] }}</td>
{#                        <td>{{ el['overview'][:100] }}...</td>#}
                        <td>{{ el['runtime'] }}</td>
                        <td>
                            {{ "%.2f"|format(el['rating']|float) }}
                        </td>
                        <td>{{ el['genres'] }}</td>
                        <td>
                            {% if el['trailer'] == None %}
                                No URL
                            {% else %}
                                <a href="{{ el['trailer'] }}">trailer</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if el['homepage'] == None %}
                                No URL
                            {% else %}
                                <a href="{{ el['homepage'] }}">homepage</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <ul>
        </ul>


    </div>
{% endblock %}